.container {
    max-width: 1100px;
}
header {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.692)), url(../img/fondo11.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 550px;
    position: relative;
}

.title-color{
    color: #235fe0;
}

.title {
    color: #f0f0f0;
    text-shadow: rgb(0, 0, 0) 0.1em  0.1em 0.2em;
    font-size: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    background-color: #235fe0;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0) 0.1em  0.1em 0.2em;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    width: 120px;
}

#row-cursos{
    background-color: #235fe0;
}
#ten{
    text-shadow: rgb(0, 0, 0) 0.1em  0.1em 0.2em;
}
.row{
    margin: 0;
}

#row-cursos img{
    border-radius: 50%;
}

#gal{
    margin-top: -10%;
    font-size: 2.5em;
    color: white;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 0.1em  0.1em 0.2em;
}
.galeria{
    background-image:url(../img/fondo3.jpg);
    background-attachment: fixed;
    padding: 150PX 0px;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
}
#row-nosotros .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}

#row-nosotros img{
    width: 100%;
    height: 250px;

}
#row-servicios{
    background-color: #235fe0;
    padding: 150px 0px;
}
#ser{
    color: white;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 0.1em  0.1em 0.2em;
}
#row-servicios img{
    border-radius: 50%;
    width: 300px;
}


#row-nosotros p{
    font-size: 14px;
}

#row-servicios p{
    font-size: 14px;
}
#row-frace{
    background-image: url(../img/fondo3.jpg);
    background-attachment: fixed;
    padding: 150PX 0px;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
#row-contacto{
    background-image:url(../img/fondo3.jpg);
    background-attachment: fixed;
    padding: 150PX 0px;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
}
#con{
    text-shadow: rgb(0, 0, 0) 0.1em  0.1em 0.2em;
}
#row-datos{
    background-color: #05070b;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
.circulo{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #040707;
}

.form-control{
    border-radius: 50px;
}

footer{
    background-color: #235fe0;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

@media(max-width:992px){
    .navbar-nav{
        background-color: #235fe0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;    
        padding-left: 20px;    
    }
}
nav{
    z-index: 100;
}